<!doctype html>
<html lang="en">
  <head>
    <title>{{ meta.title }}</title>
    {{> header.meta }}
    {{> header.scripts }}
    {{> header.stylesheets }}
  </head>
  <body>
    {{ content }}
    {{> footer.analytics }}
    {{> footer.scripts }}
  </body>
</html>
